body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body,
.container,
.content {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
}

canvas {
  display: block; /* prevents scrollbar */

  width: 100%;
  height: 100%;
}

header,
footer {
  flex-shrink: 0;
  margin: 0 20px 0 20px;
}

#canvasoverlay {
  position: absolute;
  top: 20px;
  left: 30px;
}

header {
  font-size: 100%;
  height: 80px;
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
}
footer {
  font-size: 80%;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 2em;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #ccc;
}

.spinner {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #555;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
